body {
    background:black;
    color:black;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header {
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#425C64;
    color:white;
}

.satu {
	width:90%;
    margin-left: 67px;
}

.jarak {
    padding:0 32px;
}

.menu {
	width: 1215px;
	margin-left: 67px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #425C64;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #4A727E;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
    width:90%;
    margin:auto;
    height:420px;
    padding:0px;
    background:white;
    color:black;
}

.border {
    border:2px solid #425C64;
    margin-top:16px;
    padding-bottom:16px;
    padding-left:32px;
    padding-right:32px;
    text-align: justify;
}

.borderr {
    margin-top:70px;
    padding-bottom:16px;
    padding-left:32px;
    padding-right:32px;
    text-align: justify;
}

.border1 {  
    margin-top:40px;
    padding-bottom:16px;
    padding-left:32px;
    padding-right:32px;
    text-align: justify;
}

.kiri {
    width:70%;
    float:left;
    margin:auto;
    background:white;
    height:420px;
}

.kanan {
    width:30%;
    float:left;
    margin:auto;
    background:white;
    height:420px;
}

.btn a {
	text-decoration: none;
	color: black;
}

.dua {
	width: 150px;
	height: 150px;
	float: left;
	position: relative;
	margin-left: 0;
	margin-top: 0;
	margin-right: 10px;
	bottom: 15px;
	right: 20px;
}

.tiga {
	width: 200px;
	height: 200px;
	position: relative;
	margin-left: 30px;
	margin-top: 40px;
	margin-right: 20px;
	top: 20px;
	right: 0;
	float: left;
}

.kategori {
    text-decoration:none;
    color: black;
}

.footer {
    width:90%;
    margin:auto;
    height:40px;
    line-height:40px;
    background:#425C64;
    color:white;
    margin-bottom: 16px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.fa-square-instagram {
	font-size: 40px;
	float: left;
	margin-right: 20px;
}

.fa-envelope {
	font-size: 35px;
	float: left;
	margin-right: 20px;
}

.icon {
	margin-top: 10px;
}

div.gallery {
  margin: 20px 10px 5px 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}

.btnn {
	cursor: not-allowed;
	opacity: 0.6;
	text-decoration: none;
	color: black;
}

.spacing{
	line-height: 30px;
}
